<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_login.css">
    <title>Login Page</title>
    <script>
        function redirectToSelect_quiz() {
            window.location.href = "{{url_for('select_quiz')}}";
        }
        function redirectToRegister() {
            window.location.href = "{{url_for('register')}}";
        }
    </script>

</head>
<body>

    <nav>
        <div class="logo">QuizZone.</div>
        <a href="#home">Home</a>
    </nav>

    <div class="login-container">
        <div class="header">
            <h1>Login page</h1>
            <p>Welcome back! Log in, to achieve all features</p>
        </div>
         <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                        required>
            </div>
            <button type="submit" class="login-button" onclick="redirectToSelect_quiz()">Login</button>

             <div class="register-link">
                Still don't have an account? <a href="/register">Register</a>
            </div>

         </form>
    </div>

</body>

<footer>
    <p>© 2025 QuizZone. All rights reserved.</p>
</footer>

</html>