<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_select_quiz.css">
    <title>Select a Quiz</title>
</head>
<body>

    <nav>
            <div class="logo">QuizZone.</div>
    </nav>

    <header>
        <h1>Select a Quiz</h1>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/quiz/food">Food Quiz</a></li>
                <li><a href="/quiz/music">Music Quiz</a></li>
                <li><a href="/quiz/history">History Quiz</a></li>
            </ul>
        </nav>
    </main>
</body>

<footer>
    <p>© 2025 QuizZone. All rights reserved.</p>
</footer>

</html>