* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/022/505/573/large_2x/white-marble-texture-skin-tile-wallpaper-background-free-photo.jpeg');
    min-height: 100vh;
    color: #333;
}

nav {
    background-color: #4a4a4a;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: underline;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

nav a:hover {
    background-color: #ffffff;
}

.logo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}


header {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

header h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

header p {
    color: #4a4a4a;
    font-size: 20px;
}
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

main nav ul li {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

main nav ul li:hover {
    transform: translateY(-5px);
}

main nav ul li a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease;
}

main nav ul li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 10px;
}

main nav ul li a:hover {
    color: #4a4a4a;
}

footer {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}